.flex-container {
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    
}

.box {
    border-style: solid;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-style: solid;
    border-color: black;
    
}