.flex-container {
    width: 720px;
    height: 720px;
    display: flex;
    justify-content:space-evenly;
    
}

.box {
    width:45px;
    height:45px;
    border-style: solid;
    flex-wrap: wrap;
    flex: auto;
}